<div class="share">
    <h4>Help spread the word. Tell somebody else about this app.</h4>
    <button class="btn btn-default"><h4><i class="fa fa-facebook"></i></h4></button>
    <button class="btn btn-default"><h4><i class="fa fa-twitter"></i></h4></button>
    <button class="btn btn-default"><h4><i class="fa fa-envelope"></i></h4></button>
    <button class="btn btn-default"><h4><i class="fa fa-linkedin"></i></h4></button>
    <button class="btn btn-default"><h4><i class="fa fa-google-plus"></i></h4></button>
</div>