<div class="share">
    <h4 style="margin-bottom: 20px;">Tell somebody else about this app!</h4>
    <a class="btn btn-default" title="Facebook" target="_blank" href="http://www.facebook.com/sharer/sharer.php?u=http://{{location.host()}}"><h4><i class="fa fa-facebook"></i></h4></a>
    <a class="btn btn-default" title="Twitter" target="_blank" href="http://twitter.com/intent/tweet?text=Oxford+Buses&url=http://{{location.host()}}"><h4><i class="fa fa-twitter"></i></h4></a>
    <a class="btn btn-default" title="Email" target="_blank" href="mailto:?subject=Oxford%20Buses&body=http://{{location.host()}}"><h4><i class="fa fa-envelope"></i></h4></a>
    <a class="btn btn-default" title="LinkedIn" target="_blank" href="http://www.linkedin.com/shareArticle?mini=true&title=Oxford+Buses&url=http://{{location.host()}}"><h4><i class="fa fa-linkedin"></i></h4></a>
    <a class="btn btn-default" title="Google+" target="_blank" href="https://plus.google.com/share?url=http://{{location.host()}}"><h4><i class="fa fa-google-plus"></i></h4></a>
</div>