.main-content {
    padding: 5px;
}

.separator {
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 10px;
    font-weight: bold;
    background-color: #BBBBBB;
    color: #FFFFFF;
    border-top: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
    border-radius: 4px;
}

.bg-oxblue {
    color: #FFFFFF;
    background-color: #002147
}

.navbar {
}

.navbar h3 {
    margin-left: 15px;
    margin-top: 15px;
    margin-right: 20px;
}

.navbar-form {
    margin-bottom: 0px;
}

.navbar-form, .navbar-default, .navbar-collapse {
    border: 0px;
}

h3.panel-title {
    font-weight: bold;
}
