<div class="panel panel-primary">
    <table class="stop-actions">
        <tr ng-if="options.close">
            <td><i ng-click="options.close()" class="ion ion-ios-close-outline"></i></td>
        </tr>
        <tr>
            <td><i ng-click="actions.toggleFavourite(); options.close()" class="ion" ng-class="{'ion-ios-star': actions.isFavourite(), 'favourite': actions.isFavourite(), 'ion-ios-star-outline': !actions.isFavourite()}"></i></td>
        </tr>
    </table>
    <div class="panel-heading">
        <table>
            <tr>
                <td style="padding-left: 10px; padding-right: 10px;"><h3 class="panel-title"><i class="fa fa-bus"></i></h3></td>
                <td style="width: 100%"><h3 class="panel-title">{{stop.name}}</h3></td>
                <td style="padding-right: 8px;"><span ng-if="stop.distance" class="label label-success"><strong>{{stop.distance | number:1}} km</strong></span></td>
            </tr>
            <tr>
                <td></td>
                <td>{{stop['town/village']}}</td>
                <td></td>
            </tr>
        </table>
    </div>
    <div class="panel-body">
        <table class="table table-condensed">
            <tr>
                <td style="width: 10%">S3</td>
                <td>Chipping Norton</td>
                <td style="text-align: right; width: 100px;">DUE</td>
            </tr>
            <tr>
                <td>S3</td>
                <td>Oxford</td>
                <td style="text-align: right">8 mins</td>
            </tr>            
        </table>
    </div>
</div>