<div class="panel panel-primary">
    <table class="stop-actions">
        <tr ng-if="options.close">
            <td><i ng-click="options.close()" class="ion ion-ios-close-outline"></i></td>
        </tr>
        <tr>
            <td><i ng-click="actions.toggleFavourite(); options.close()" class="ion" ng-class="{'ion-ios-star': actions.isFavourite(), 'favourite': actions.isFavourite(), 'ion-ios-star-outline': !actions.isFavourite()}"></i></td>
        </tr>
    </table>
    <div class="panel-heading">
        <table>
            <tr>
                <td style="padding-left: 10px; padding-right: 10px;"><h3 class="panel-title" ng-class="{'filter-applied': eta.filters.length > 0}"><i class="fa fa-bus"></i></h3></td>
                <td style="width: 100%">
                    <span class="dropdown" dropdown>
                        <h3 class="panel-title dropdown-toggle" ng-class="{'filter-applied': eta.filters.length > 0}" dropdown-toggle>{{stop.name}} <i class="ion ion-chevron-right"></i></h3>
                        <ul class="dropdown-menu">
                            <li><a href="http://maps.google.com/?q={{stop.position.latitude}},{{stop.position.longitude}}" target="_blank"><i class="ion ion-ios-location" style="font-size: 16px; margin-right: 10px"></i>Show on map</a></li>
                            <li class="divider" ng-if="eta.data.length"></li>
                            <li class="disabled" ng-if="eta.data.length"><a href style="cursor: default">Only show:</a></li>
                            <li ng-repeat="name in eta.serviceList()">
                                <a href ng-click="eta.onServiceFilterClick(name)"><i class="fa" ng-class="{'fa-check-square-o': eta.filters.length && eta.shouldDisplay(name), 'fa-square-o': !eta.filters.length || !eta.shouldDisplay(name)}" style="margin-right: 10px; font-size: 16px"></i>{{name}}</a>
                            </li>
                        </ul>
                    </span>
                </td>
                <td style="padding-right: 8px;"><span ng-if="stop.distance" class="label label-success"><strong>{{stop.distance | number:1}} km</strong></span></td>
            </tr>
            <tr>
                <td style="text-align: center"></td>
                <td><span ng-class="{'filter-applied': eta.filters.length > 0}">{{stop['town/village']}}</span></td>
                <td></td>
            </tr>
        </table>
    </div>
    <div class="panel-body">
        <table class="table table-condensed">
            <tr ng-repeat="e in eta.data" ng-if="eta.shouldDisplay(e)">
                <td style="width: 10%">{{::e.service}}</td>
                <td>{{::e.dest}}</td>
                <td style="text-align: right; width: 100px;">{{::e.time}}</td>                
            </tr>
        </table>
        <table class="table table-condensed text-center" ng-if="eta.message">
            <tr><td>{{eta.message}}</td></tr>
        </table>        
    </div>
</div>