<!DOCTYPE html>
<html lang="en" ng-app="bustimes">
    <head>
        <meta content="yes" name="apple-mobile-web-app-capable" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <title>Oxford Buses</title>
        <link rel="icon" type="image/png" href="/static/assets/img/bus-icon-32x32.png" />        
        <link rel="apple-touch-icon" sizes="57x57" href="/static/assets/img/bus-icon-57x57.png" />
        <link rel="apple-touch-icon" sizes="72x72" href="/static/assets/img/bus-icon-72x72.png" />
        <link rel="apple-touch-icon" sizes="114x114" href="/static/assets/img/bus-icon-114x114.png" />
        <link rel="apple-touch-icon" sizes="144x144" href="/static/assets/img/bus-icon-144x144.png" />        
        <link rel="stylesheet" href="/static/assets/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="/static/assets/css/ionicons.min.css"/>
        <link rel="stylesheet" href="/static/assets/css/font-awesome.css"/>
        <link rel="stylesheet" href="/static/assets/css/addtohomescreen.css"/>
        <link rel="stylesheet" href="/static/assets/css/app.css"/>
    </head>
    <body>
        <top-bar></top-bar>
        <div class="container" style="padding-left: 0px; padding-right: 0px;">
            <div class="row">
                <div class="col-xs-12">
                    <div class="container main-content">
                        <div class="row">
                            <div class="col-xs-12">
                                <search></search>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <favourites></favourites>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <nearest></nearest>
                            </div>
                        </div>                   
                    </div>
                </div>
            </div>
        </div>

        <script type="text/javascript" src="/static/assets/js/jquery/2.1.3/jquery-2.1.3.min.js"></script>
        
        <script type="text/javascript" src="/static/assets/js/angular/1.3.14/angular.js"></script>
        <script type="text/javascript" src="/static/assets/js/angular/1.3.14/angular-route.min.js"></script>
        <script type="text/javascript" src="/static/assets/js/angular/1.3.14/angular-animate.min.js"></script>

        <script type="text/javascript" src="/static/assets/js/angular-ui/ui-bootstrap/0.12.1/ui-bootstrap-tpls-0.12.1.min.js"></script>
        <script type="text/javascript" src="/static/assets/js/angular-ui/ui-utils/0.2.2/ui-utils.min.js"></script>
        <script type="text/javascript" src="/static/assets/js/angular-ui/ui-utils/0.2.2/ui-utils-ieshiv.min.js"></script>
        
        <script type="text/javascript" src="/static/ng/app.module.js"></script>
        <script type="text/javascript" src="/static/ng/shared/utils.js"></script>
        <script type="text/javascript" src="/static/ng/shared/preferencesService.js"></script>
        <script type="text/javascript" src="/static/ng/shared/stopService.js"></script>
        <script type="text/javascript" src="/static/ng/shared/favouritesService.js"></script>
        <script type="text/javascript" src="/static/ng/shared/etaUpdateService.js"></script>
        <script type="text/javascript" src="/static/ng/shared/topbar/topBarDirective.js"></script>
        <script type="text/javascript" src="/static/ng/shared/topbar/topBarController.js"></script>
        <script type="text/javascript" src="/static/ng/shared/search/searchDirective.js"></script>
        <script type="text/javascript" src="/static/ng/shared/search/searchController.js"></script>
        <script type="text/javascript" src="/static/ng/shared/nearest/nearestDirective.js"></script>
        <script type="text/javascript" src="/static/ng/shared/nearest/nearestController.js"></script>
        <script type="text/javascript" src="/static/ng/shared/stop/stopDirective.js"></script>
        <script type="text/javascript" src="/static/ng/shared/stop/stopController.js"></script>
        <script type="text/javascript" src="/static/ng/shared/favourites/favouritesDirective.js"></script>
        <script type="text/javascript" src="/static/ng/shared/favourites/favouritesController.js"></script>
    </body>
</html>
